<footer class="footer">
    <p> this is the footer</p>
</footer>

<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/formTableLogic.js"></script>
</body>
</html>