<!-- @format -->
<!-- delete button -->
<div class="mid_button">
  <form action="/permission_sets" method="GET">
    <button type="form" class="btn btn-danger" id="delete-button">
      DELETE!
    </button>
  </form>
</div>
<script src="js/permissionGroups/permissionGroupButtonLogic.js"></script>
