<!-- Header -->
<%- include('partials/head') %>

<!-- Navbar -->
<%- include('partials/navbar') %>

<!-- main page structure -->
<div class="container text-center">
  <div class="row">
    <h1>Add Your Pokemon</h1>
  </div>
  <div class="row">
    <!-- FORM -->
    <div class="col" id="formSide-Div">
      <!-- 1 of 2 -->
      <!-- form divider -->
      <div class="form">
        <form action="/addPoke" id="addPokeForm">
          <p>Enter Pokemon number to add it to list</p>
          <div>
            <input
              type="text"
              name="pokeInputText"
              id="pokeInputText"
              placeholder="Put Pokemon Number Here"
            />
            <button type="submit">Press To Submit</button>
          </div>
        </form>
      </div>
    </div>
    <!-- TABLE -->
    <div class="col" id="tableSide-Div">
      <!-- 2 of 2 -->
      <!-- table divider -->
      <div class="container-lg">
        <div class="table" id="divtable">
          <table class="table" id="poketable">
            <label for="poketable">People Table</label>
            <thead>
              <tr>
                <th scope="col">NUM#</th>
                <th scope="col">Pokemon Image</th>
                <th scope="col">type</th>
              </tr>
            </thead>
            <tbody id="container"></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- footer -->
  <%- include('partials/footer') %>
</div>
