/**
 * ######################### general styles ######################
 *
 * @format
 */

.header {
  border-bottom: 1px solid;
  border-color: black;
}

.flex {
  display: flex;
}

img {
  display: flex;
}
.footer {
  text-align: center;
  margin-top: 10%;
}

.mainContainer {
  width: 100%;
  padding-right: 2%;
  padding-left: 2%;
  margin-right: auto;
  margin-left: auto;
}

/*######################### table styles ###################### */
.tableSearchInput {
  background-image: url("/images/magnify.png");
  background-position: 5px 10px;
  background-repeat: no-repeat;
  background-size: 20px;
  width: 100%;
  font-size: 16px;
  padding: 6px 10px 6px 40px;
  border: 1px solid #ddd;
}

#tableSide-Div {
  height: 100vh;
  overflow-y: auto;
  text-align: center;
}
th {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px;
}
th[scope="col"] {
  background-color: #4a6ea3;
  color: #fff;
}
.table_checkbox {
  width: 2vw;
  min-width: 20px;
}
tr {
  border: 1px solid rgb(190, 190, 190);
  background-color: #e4f1f5;
}
tr:nth-child(even) {
  border: 1px solid rgb(190, 190, 190);
  background-color: #8dd9ec;
}

tbody tr:hover {
  border: 1px solid rgb(190, 190, 190);
  background-color: #ffca3a;
}

/*######################### button styles ###################### */
.btn {
  text-align: left;
  margin-top: 5vh;
  /* margin-right: 1vw; */
  min-width: 75px;
  max-width: 100%;
  width: 5vw;
}
.btn-primary {
  min-width: 92%;
  min-height: 90%;
  max-height: fit-content;
  margin-left: 4%;
  margin-right: 4%;
}
.col {
  align-self: stretch;
}
.row {
  align-items: center;
}
.col-lg-1 {
  min-width: 1vw;
}
/*######################### form styles ###################### */
#formSide-Div {
  border-right: 1px solid;
  border-color: black;
  text-align: left;
  height: 100vh;
  /* padding-left: 2vw; */
}
#Description_form {
  width: 80%;
  height: 150px;
  resize: vertical;
}
.formLable {
  text-align: left;
}
.selectFormInput {
  width: 90%;
}
.formInput {
  max-width: 200px;
  width: 80%;
}
.formCheckboxlable {
  background-position: 5px 10px;
  text-align: right;
  background-repeat: no-repeat;
  background-size: 20px;
  width: 100%;
  padding: 6px 10px 6px 40px;
}

.formButton {
  --bs-gutter-x: 0rem;
  --bs-gutter-y: -15px;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.form {
  margin: 0.1vw;
}
p.formLable {
  margin-right: 5px;
}

/*######################### popup styles ###################### */

#popupContainer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}
