<!-- 1 of 2 -->
<!-- form divider -->

<form action="/permissions" method="post" id="formSide-Div">
  <p class="formLable">Enter permission Details</p>
  <div class="form">
    <!-- <div class="row">
      <label class="formLable" for="permissionID">ID:</label>
      <input
        type="text"
        class="formInput"
        name="permissionID"
        id="permissionID"
        placeholder="ID"
      />
    </div> -->
    <div class="row">
      <label class="formLable" for="perType">Choose Type</label>
      <select
        name="perType"
        class="selectFormInput"
        id="perType"
        placeholder="Permission Type"
      >
        <option name="Door Access">Door Access</option>
        <option name="Admin Privileges">Admin Privileges</option>
        <option name="Admin Add People">Admin Add People</option>
        <option name="Admin Add Doors">Admin Add Doors</option>
        <option name="Admin Add Permissions">Admin Add Permissions</option>
        <option name="Admin Add Admin">Admin Add Admin</option>
      </select>
    </div>
    <div class="row">
      <label class="formLable" for="initialDate">Initial Date:</label>
      <input
        type="date"
        class="formInput"
        name="initialDate"
        id="initialDate"
        placeholder="Initial Date"
      />
    </div>

    <!-- expiry date -->
    <!-- must be after initial date -->
    <div class="row">
      <label class="formLable" for="expiryDate">Expiry Date:</label>
      <input
        type="date"
        class="formInput"
        name="expiryDate"
        id="expiryDate"
        placeholder="Expiry Date"
      />
    </div>
    <!-- Start time, defines the time where the permission starts to take effect daily -->
    <!-- if no input is inserted, the permission will be granted for the whole day -->
    <div class="row">
      <label class="formLable" for="startTime">Start Time:</label>
      <input
        type="time"
        class="formInput"
        name="startTime"
        id="startTime"
        placeholder="Start Time"
      />
    </div>
    <div class="row">
      <label class="formLable" for="endTime">End Time:</label>
      <input
        type="time"
        class="formInput"
        name="endTime"
        id="endTime"
        placeholder="End Time"
      />
    </div>
    <button type="submit" class="formButton">Press To Submit</button>
  </div>

  <p class="formLable">
    <b>Date</b> - defines the period of time that the permission is valid.
  </p>
  <p class="formLable">
    <b>Time</b> - defines the daily period of time that the permission is valid.
    <b
      ><i
        >(If time is empty the permission will be granted for the whole day)</i
      ></b
    >
  </p>
</form>
