<!-- @format -->

<!-- 1 of 2 -->
<!-- form divider -->

<form
  onsubmit="return checkId(this)"
  action="/permissions"
  method="post"
  id="formSide-Div"
>
  <p class="formLable">Enter permission Details</p>
  <div class="form">
    <div class="row">
      <label class="formLable" for="permission_id">ID:</label>
      <input
        class="formInput"
        name="permission_id"
        id="permission_id"
        placeholder="ID"
        pattern="[0-9]{1,9}"
        required
      />
    </div>
    <div class="row">
      <label class="formLable" for="permission_type">Choose Type</label>
      <select
        name="permission_type"
        class="selectFormInput"
        id="permission_type"
        placeholder="Permission Type"
      >
        <option name="Door Access">Door Access</option>
        <option name="Admin Privileges">Admin Privileges</option>
        <option name="Admin Add People">Admin Add People</option>
        <option name="Admin Add Doors">Admin Add Doors</option>
        <option name="Admin Add Permissions">Admin Add Permissions</option>
        <option name="Admin Add Admin">Admin Add Admin</option>
      </select>
    </div>
    <div class="row">
      <label class="formLable" for="initial_date">Initial Date:</label>
      <input
        type="date"
        class="formInput"
        name="initial_date"
        id="initial_date"
        placeholder="Initial Date"
        required
      />
    </div>
    <!-- expiry date -->
    <!-- must be after initial date -->
    <div class="row">
      <label class="formLable" for="expiry_date">Expiry Date:</label>
      <input
        type="date"
        class="formInput"
        name="expiry_date"
        id="expiry_date"
        placeholder="Expiry Date"
        required
      />
    </div>
    <!-- Start time, defines the time where the permission starts to take effect daily -->
    <!-- if no input is inserted, the permission will be granted for the whole day -->
    <div class="row">
      <label class="formLable" for="start_time">Start Time:</label>
      <input
        type="time"
        class="formInput"
        name="start_time"
        id="start_time"
        placeholder="Start Time"
        required
      />
    </div>
    <div class="row">
      <label class="formLable" for="end_time">End Time:</label>
      <input
        type="time"
        class="formInput"
        name="end_time"
        id="end_time"
        placeholder="End Time"
        required
      />
    </div>
    <button type="submit" class="formButton">Press To Submit</button>
  </div>

  <p class="formLable">
    <b>Date</b> - defines the period of time that the permission is valid.
  </p>
  <p class="formLable">
    <b>Time</b> - defines the daily period of time that the permission is valid.
    <b
      ><i
        >(If time is empty the permission will be granted for the whole day)</i
      ></b
    >
  </p>
</form>
<script src="js/permissions/permissionsFormLogic.js"></script>
