<!-- @format -->

<div class="col col-lg-1">
  <div class="mid_button">
    <button type="button" class="btn btn-danger" id="popupBtn">Group</button>
    <!-- Pop UP section for group -->
    <div id="popupContainer">
      <div id="popup">
        <h2>Fill out the Groups details</h2>
        <form
          id="new_group_form"
          onsubmit="return checkgroupName(this)"
          action="/doors"
          method="get"
        >
          <!-- add group checkbox -->
          <div class="row">
            <!-- input hidden to get unchecked value -->
            <label
              class="formLable col formCheckboxlable"
              for="new_group_checkbox"
              >New Group?</label
            >
            <input
              type="checkbox"
              id="new_group_checkbox"
              class="formInput"
              name="new_group_checkbox"
            />
          </div>
          <div class="row">
            <div class="col form_group_list">
              <label class="formLable" for="door_group_list">Choose Name</label>
              <select
                name="door_group_list"
                class="selectFormInput"
                id="door_group_list"
                placeholder="Choose Existing Group"
              >
                <!-- add all the  -->
                <% if(door_groups) { %> <% door_groups.forEach(group_name => {
                %>

                <option name="<%=group_name.door_group_name%>">
                  <%=group_name.door_group_name%>
                </option>
                <% }) %> <% } %>
              </select>
            </div>
            <!-- will be visible if checkbox for add group is checked -->
            <div class="col form_group_hide">
              <label for="door_group_name">Name:</label>
              <input
                class="formInput"
                type="text"
                id="door_group_name"
                name="door_group_name"
                placeholder="Insert Group Name"
                minlength="1"
              />
            </div>
          </div>
          <button type="submit" id="groupsubmit">Submit</button>
          <button id="closeBtn">Close</button>
        </form>
      </div>
    </div>
  </div>
  <!-- delete button -->
  <div class="mid_button">
    <form action="/doors" method="GET">
      <button type="form" id="delete-button" class="btn btn-danger">
        DELETE!
      </button>
    </form>
  </div>
  <script src="js/doors/doorTableButtonLogic.js"></script>
</div>
