<div class="col col-lg-8" id="tableSide-Div">
  <!-- 2 of 2 -->
  <!-- table divider -->
  <table class="table" id="people_table">
    <!-- <label for="people_table">People Table</label> -->
    <thead>
      <tr>
        <th class="table_checkbox" scope="col"></th>
        <!-- <input type="checkbox" name="select_row" id="select_row" /> -->
        <th scope="col">ID</th>
        <!-- number -->
        <th scope="col">First Name</th>
        <!-- string -->
        <th scope="col">Second Name</th>
        <!-- string -->
        <th scope="col">Admin</th>
        <!-- check ( &#x2714; )or cross (&#x274C;) -->
      </tr>
    </thead>
    <tbody id="container"></tbody>
  </table>
</div>
