<div class="col col-lg-8" id="tableSide-Div">
  <!-- 2 of 2 -->
  <!-- table divider -->
  <table class="table" id="people_table">
    <!-- <label for="people_table">People Table</label> -->
    <thead>
      <tr>
        <th class="table_checkbox" scope="col"></th>
        <!-- <input type="checkbox" name="select_row" id="select_row" /> -->
        <th scope="col">ID</th>
        <!-- number -->
        <th scope="col">Door Name</th>
        <!-- string -->
        <th scope="col">Building Name</th>
        <!-- string -->
        <th scope="col">floor</th>
        <!-- number -->
      </tr>
    </thead>
    <tbody id="container">
      <tr>
        <td><input type="checkbox" name="select_row" id="select_row" /></td>
        <td><input type="checkbox" name="select_row" id="select_row" /></td>
        <td><input type="checkbox" name="select_row" id="select_row" /></td>
        <td><input type="checkbox" name="select_row" id="select_row" /></td>
        <td><input type="checkbox" name="select_row" id="select_row" /></td>
      </tr>
      <tr>
        <td><input type="checkbox" name="select_row" id="select_row" /></td>
        <td><input type="checkbox" name="select_row" id="select_row" /></td>
        <td><input type="checkbox" name="select_row" id="select_row" /></td>
        <td><input type="checkbox" name="select_row" id="select_row" /></td>
        <td><input type="checkbox" name="select_row" id="select_row" /></td>
      </tr>
      <tr>
        <td><input type="checkbox" name="select_row" id="select_row" /></td>
        <td><input type="checkbox" name="select_row" id="select_row" /></td>
        <td><input type="checkbox" name="select_row" id="select_row" /></td>
        <td><input type="checkbox" name="select_row" id="select_row" /></td>
        <td><input type="checkbox" name="select_row" id="select_row" /></td>
      </tr>
      <tr>
        <td><input type="checkbox" name="select_row" id="select_row" /></td>
        <td><input type="checkbox" name="select_row" id="select_row" /></td>
        <td><input type="checkbox" name="select_row" id="select_row" /></td>
        <td><input type="checkbox" name="select_row" id="select_row" /></td>
        <td><input type="checkbox" name="select_row" id="select_row" /></td>
      </tr>
    </tbody>
  </table>
</div>
