<!-- 1 of 2 -->
<!-- form divider -->

<form action="/doors" method="post" class="col col-lg-3" id="formSide-Div">
  <p class="formLable">Enter Door ID and Details</p>
  <div class="form">
    <div class="row">
      <label class="formLable" for="doorID">ID:</label>
      <input
        type="text"
        class="formInput"
        name="doorID"
        id="doorID"
        placeholder="ID"
      />
    </div>
    <div class="row">
      <label class="formLable" for="door_name">Door Name:</label>
      <input
        type="text"
        class="formInput"
        name="door_name"
        id="door_name"
        placeholder="Door Name"
      />
    </div>
    <div class="row">
      <label class="formLable" for="building_name">Building Name:</label>
      <input
        type="text"
        class="formInput"
        name="building_name"
        id="building_name"
        placeholder="Building Name"
      />
    </div>
    <div class="row">
      <label class="formLable" for="floor_number">Floor:</label>
      <input
        type="number"
        class="formInput"
        name="floor_number"
        id="floor_number"
        placeholder="Floor"
      />
    </div>

    <button type="submit" class="formButton">Press To Submit</button>
  </div>
</form>
