<!-- @format -->

<!-- delete button -->
<div class="mid_button">
  <form action="/Assign_Permissions" method="GET">
    <button type="form" id="delete-button" class="btn btn-danger">
      DELETE!
    </button>
  </form>
</div>
<script src="js/AssignedPermissions/AssignedPermissionTableButtonLogic.js"></script>
