<!-- @format -->
<!-- delete button -->
<div class="mid_button">
  <form action="/people_groups" method="GET">
    <button type="form" class="btn btn-danger" id="delete-button">
      DELETE!
    </button>
  </form>
</div>
<script src="js/peopleGroups/peopleGroupButtonLogic.js"></script>
